{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% extends 'template.html.twig' %}

{% block title %}
    Add new question
{% endblock title %}

{% block body %}

    <div class="col-md-4">

        <section class="registe-form">


            {{ form_start(form) }}
            {{ form_row(form.question_text) }}
            <h3>Answers</h3>
            <ul class="answers nav" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}">
                 {#iterate over each existing tag and render its only field: name#}
                {% for answer in form.answers %}
                    <li class="answer">
                        {{ form_row(answer.answer_text) }}
                    </li>
                {% endfor %}
            </ul>

            {{ form_end(form) }}

        </section>

    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">

    </div>



{% endblock body %}

{% block javascripts %}
    <script>

        var $collectionHolder;

        var $addTagLink = $('<a href="#" class="add_tag_link">Add an answer</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.answers');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.find('li.answer').each(function() {
                addTagFormDeleteLink($(this));
            });

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" style="display: inline-block">delete this question</a>');
            $tagFormLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }

    </script>



{% endblock javascripts %}

{% block stylesheets %}

    <style>
        .quiz_form_questions{
            display: inline-block;
        }
        .quiz_form_questions_box{
            display: inline-block;
        }
    </style>
{% endblock  stylesheets%}