{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% extends 'admin_control/admin_panel.html.twig' %}

{% block title %}
    {{ button_text }}
{% endblock title %}

{% block contain %}

    {{ form_start(form) }}

    <div class="col-md-4">

        <section class="add_quiz_form">
            <h4>Parameters of Quiz</h4>

            {{ form_row(form.name) }}
            <br>
            {{ form_row(form.description) }}
            <br>
            {{ form_row(form.save) }}

        </section>
    </div>

    <div class="col-md-4">

        <section class="add_quiz_questions_form">
            <h4>Questions</h4>
            <select class="js-example-basic-single" style="width: 250px">
                <option></option>
            </select>
            <ul class="questions_box nav" data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
                {% for question in form.questions %}
                    <li class="question">
                        {{ form_row(question.question_text) }}
                        {{ form_row(question.id_question) }}
                        <div class="question_text_box">{{ question.question_text.vars.value }}</div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <div class="col-md-4"></div>
    {{ form_end(form) }}


{% endblock contain %}

{% block javascripts %}
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script>
        var $collectionHolder;
        var $newLinkLi = $('<li></li>').append();

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.questions_box');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.find('li.question').each(function() {
                addTagFormDeleteLink($(this));
            });

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            var $select = $(".js-example-basic-single");
            $str = {{(json_questions|json_encode|raw)}};
            $result = JSON.parse($str);

            $select.select2({
                data: $result,
                placeholder: "Select a question"
            });

            $('#quiz_form_save').text('{{ button_text }}');
            $('#quiz_form_save').on("click", function (e) {
                if (!$('.question_text_box').length) {
                    e.preventDefault();
                    alert('Choose one question')
                }
            });
            $select.on('select2:select', function (e) {
                $text = e.params.data.text;
                $id = e.params.data.id;
                addTagForm($collectionHolder, $newLinkLi, $text, $id);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi, $text_question, $id_question) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            if ( checkQuestions($id_question)) {
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                label = $('<div class="question_text_box"></div>');
                label.text($text_question);
                var $newFormLi = $('<li></li>').append(newForm);
                $newFormLi.append(label);
                $newFormLi.find('.quiz_form_question_text').val($text_question);
                $newFormLi.find('.quiz_form_question_text').val($text_question);
                $newFormLi.find('.quiz_form_id_question').val($id_question);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);
            }
        }

        function checkQuestions($id_question) {
            $unique = true;
            $('.quiz_form_id_question').each(function (index) {
                if ($( this ).val() === $id_question) {
                    $unique = false;
                }
            });
            return $unique;
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>');
            $tagFormLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock javascripts %}

{% block containstylesheets %}

    <link href="{{ asset('assets/css/select2.min.css') }}" rel="stylesheet" />
    <style>
        .add_quiz_form {
            border: 2px solid black;
            border-radius: 10px;
            padding: 5px;
            background-color: #384452;
        }

        .add_quiz_questions_form {
            border: 2px solid black;
            border-radius: 10px;
            padding: 5px;
            background-color: #384452;
        }

        .questions_box {
            margin-top: 10px;
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
        }

        .question_text_box {
            margin: 5px;
            display: inline-block;
            cursor: pointer;
        }

        .question_text_box:hover {
            background-color: lightgray;
        }

        .quiz_form_quiz_description {
            height: 150px !important;
        }

    </style>

{% endblock  containstylesheets%}


