{% extends 'base.html.twig' %}

{% block body %}

    <h1>First usage</h1>

    <b>{{ first }} + {{ second }} = {{ sum }}</b>
    <br>
    <b>{{ first }} + {{ second }} = {{ sum }}</b>

{% endblock body %}
