{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% extends 'template.html.twig' %}
{% form_theme form _self %}

{% block title %}
    Check Email
{% endblock title %}

{% block body %}
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <section class="check_form">
            <form class="form-signin" name='check_form' id='check_form' method='post' action='{{path('check')}}'>

                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}

                {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}

                {{ form_row(form._token) }}

                <br>

                <button id="submitRegistration" class="btn btn-lg btn-primary btn-block" type="submit">Send Email</button>
            </form>
        </section>
    </div>

    <div class="col-md-4"></div>

{% endblock body %}

{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <b style="color: red;">{{ error.message }}</b>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block stylesheets %}
    <style>
        .check_form {
            border: 2px solid grey;
            border-radius: 15px;
            background-color: #384452;
            padding: 10px;

        }
    </style>
{% endblock  stylesheets%}